@import url("https://fonts.googleapis.com/css2?family=Poppins");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  height: 100%;
  color: #7c7c7c;
}

h1 {
  color: #49497e; 
}

h1 {
  color: #49497e;
  position: relative;
  padding-bottom: 10px;
  text-align: center;
}

h1::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 150px;
  height: 4px;
  background-color: #fc036b;
  transform: translateX(-50%);
}


a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.active {
  color: #fc036b;
  text-decoration: underline;
  font-weight: bold;
}

.navbar {
  background-color: #ffffff;
  padding: 20px;
}
.navbar .logo {
  max-width: 100%;
  height: 30px;
}
.navbar .navbar-nav .nav-link {
  color: #49497e;
  margin: 0 15px;
}
.navbar .ctn {
  background-color: #fc036b;
  border-radius: 30px;
  color: #ffffff;
  padding: 10px 20px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.navbar .ctn:hover {
  background-color: #FAFAFA;
  color: #fc036b;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.menu-btn {
  display: none; /* Oculto por defecto en pantallas grandes */
  cursor: pointer;
}

.menu-btn span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #fc036b;
  transition: all 0.3s ease-in-out;
}

.nav-links {
  display: flex;
  list-style: none;
}

@media only screen and (max-width: 850px) {
  .menu-btn {
      display: block;
  }

  .nav-links {
      position: fixed;
      top: 0;
      right: -100%;
      height: 100vh;
      width: 100%;
      background-color: #ffffff;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: right 0.3s ease-in-out;
  }

  .nav-links.active {
      right: 0;
  }

  .nav-links li {
      margin: 20px 0;
  }
}


.header {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/header-bg.png");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header-content {
  text-align: center;
  color: #FAFAFA;
  margin-bottom: 0;
}
.header .header-content h2 {
  font-size: 4vmin;
  color: #FAFAFA;
}
.header .header-content .line {
  width: 150px;
  height: 4px;
  background: #fc036b;
  margin: 10px auto;
  border-radius: 5px;
}
.header .header-content h1 {
  font-size: 7vmin;
  margin-top: 20px;
  margin-bottom: 30px;
  animation: fadeIn 2s ease-in-out;
  color: #FAFAFA;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
section {
  width: 80%;
  margin: 80px auto;
}
section .title {
  text-align: center;
  font-size: 4vmin;
  color: #49497e;
}
section .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
section .row .col {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
section .row h4 {
  font-size: 3vmin;
  color: #49497e;
  margin: 20px auto;
}
section .row p {
  color: #7c7c7c;
  padding: 0 40px;
}
section .servicios-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
section .servicios-grid .servicio-item {
  text-align: center;
}
section .servicios-grid .servicio-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}
section .servicios-grid .servicio-item .ctn {
  transition: all 0.3s ease;
}

.portafolio {
  padding: 5rem 0;
}
.portafolio .image-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.portafolio .image-gallery img {
  width: 100%;
  height: auto;
}

.footer {
  background: #49497e;
  color: #ffffff;
  padding: 1rem 0;
  text-align: center;
  margin-top: auto;
}

@media only screen and (max-width: 1200px) {
  .servicios-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .image-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 850px) {
  .navbar {
    padding: 0;
  }
  .navbar .logo {
    width: 90px;
    height: auto;
  }
  .navbar .navbar-nav {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background: #FAFAFA;
    margin-top: -900px;
    transition: all 0.5s ease;
  }
  .navbar .navbar-nav li {
    margin: 30px auto;
  }
  .row {
    flex-direction: column;
  }
  .row .col {
    margin: 20px auto;
  }
  .row .nosotros-content {
    width: 100%;
  }
  .servicios-grid, .image-gallery {
    grid-template-columns: 1fr;
  }
  .image-gallery img {
    width: 90%;
  }
  .footer {
    padding: 10px;
  }
}
.map-container {
  width: 100%;
  height: 500px;
  position: relative;
}
.map-container .map-iframe {
  border: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

li:hover {
  color: #fc036b;
  cursor: pointer;
}

.btn {
  background-color: #fc036b; 
  color: #ffffff; 
  padding: 10px 20px; 
  border-radius: 30px;
  border: none; 
  font-weight: bold; 
  text-transform: uppercase; 
  cursor: pointer; 
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.btn:hover {
  background-color: #ffffff; 
  color: #fc036b; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
} 

h1 {
  color: #49497e; 
}

h1 {
  color: #49497e;
  position: relative;
  padding-bottom: 10px;
  text-align: center;
}

h1::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 150px;
  height: 4px;
  background-color: #fc036b;
  transform: translateX(-50%);
}

/*# sourceMappingURL=style.css.map */
